body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.new-note input, .new-note textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

#notes {
    list-style: none;
    padding: 0;
}

.note {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

.note .text {
    flex: 1;
}

.note button {
    margin-left: 10px;
}